html{
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 1060px) {

    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  

}

@media screen and (max-width: 768px) {

    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }

}






#google-logo{

    display: block;
    position: relative;
    left: 480px;
    top: 150px;
 
    
}

#search-bar input[type=text] {

    position: relative;
    left: 375px;
    top: 160px;
    border-radius: 20px;
    padding: 12px;
    width: 500px;
    border: none;
    border:1px solid #eaeaea;
    outline:none;
    padding:12px;
    

}
 
#search-bar input:hover{

    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);

}

input:hover{

    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;

}



input[type="submit"] {

    position: relative;
    left: 450px;
    top: 180px;
    border-radius: 2px;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #757575;
    cursor: pointer;
    font-size: 14px;
    width: 150px;
    padding: 0 16px;
    height:36px;
}

input[type="submit"]:hover {

    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;

}

#button2 {

    position: relative;
    left: 170px;
    bottom: 35px;
    font-size: 10px;

}

.gmail p{

    text-decoration: none;
    position: absolute;
    right: 200px;
    top: 10px;
    display: block;
    cursor: pointer;
    margin: 5px;

}

.images p{

    text-decoration: none;
    position: absolute;
    right: 140px;
    top: -1px;
    display: block;
    cursor: pointer;

}

.magny{

    filter: opacity(30%);
    position: relative;
    left: 405px;
    top: 130px;

}

.grid{

    filter: opacity(50%);
    position: relative;
    cursor: pointer;
    width: 100%;

}
